*, * {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    box-sizing: content-box
}

h1 {
    font-size: 70px;
    font-family: 'Merriweather', serif
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 32px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: #58695e;
    font-weight: bold;
}

li {
    display: flex;
    flex-wrap: nowrap;
    display: inline;
    padding: 16px;
    font-size: 18px;
}

.titulos {
    color: #adcfc9;
    font-weight: bold;
    font-size: 30px;
    -webkit-text-stroke: 0.2px #009398;
    text-align: end;
    padding-top: 100px;
    padding-bottom: 50px;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
    position: fixed;
    z-index: 1;
    background: #c1aa97;
	content:35%;
    padding: 5px;
}

.header__navegacion{
    display: flex;
    align-items: inherit;
    flex-wrap: wrap;
    padding: 15px;
}

.header__logo {
    display: flex;
    width: 7%;
    margin-left: 2%;
}

.header__inicio {
    background-image: url(../recursos/10.jpg); 
    background-size: cover;
    background-position: top;
}

.container__inicio {
    height: 100vh;
    font-size: 30px;
    color: #3f4942;
    text-align: center;
    letter-spacing: 4px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-color: #edcda86e;
}

.boton__inicio {
    width: 250px;
    margin: 12px 0;
    border: none;
    border-style: ridge;
    border-radius: 20px;
    outline: none;
    color: #fff;
    background-color: #738378;
    height: 30px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-style: outset;
    font-size: 14px;
    text-align: center;
    transition: all 0.25s; 
}

.boton__inicio:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.2);
    background-color: #3f4942;
}

/* Primera sección - ¿Quienes somos? */

.conteiner__quienes_somos { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    height: 100vh;
}

.quienes_somos {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoysqv {
    width: 90%;
    margin-left: 5px;
}

.ttitulo__quienes_somos {
    text-align: center;
    
}
.texto__quienes_somos {
    display: flex;
    justify-content: center;
    align-items: center;
    }   

.p__quienes_somos {
    line-height: 21px;
    margin-top: 5px;
    padding: 30px;
    text-align: justify;
}

/* Segunda sección - productos */

.img__productos {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
} 

.conteiner__productos {
    width: 330px;
    height: 530px;
    background-image: url(../recursos/backgraund2.png);
    background-position: 1%;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    color: #58695e;
    text-align: center;
    transition: all 0.25s; 
}

.conteiner__productos:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.imgcont__productos {
    width: 330px;
    height: 220 px;
}

.descripcion {
    padding: 10px;
    font-size: 16 px;
    font-weight: 300;
}

.tituloproductos {
    text-align: center;
    
}

.conteiner__productos h4 {
    padding-top: 10px;
}


/* Tercera sección - Formulario de contacto */ 


h3 {
    grid-area: titulo;
    font-size: 20px;
    color: #58695e
}

.form__contacto {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    
}

.form {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    "titulo titulo titulo"
    "subtitulo subtitulo subtitulo"
    "nombre nombre nombre"
    "correo correo correo"
    "mensaje mensaje mensaje"
    "boton boton boton"
    ;
    flex: 1; 
    text-align: center;
    padding: 50px;
}

.form__section-nombre {
    grid-area: nombre;
}

.form__section-correo {
    grid-area: correo;
}

.form__section-mensaje{
    grid-area: mensaje;
}

.form__section-boton {
    grid-area: boton;
}

.form__input {
    width: 50%;
    padding: 7px;
    margin: 12px 0;
    border: none;
    border-style: outset;
    border-radius: 20px;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: #73837865;
}

.form textarea {
    flex: 1;
    min-height: 150px;
    resize: none;
}

.form__boton {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
    border-style: outset;
    margin: 12px 0;
    color: #fff;
    background-color: #738378;
    text-align: center;
    transition: all 0.25s; 
}
.form__boton:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.2);
    background-color: #3f4942;
}

/* Cuarta sección - Carrito */

.conteiner__carrito  {    
    min-width: 400px;
    height: 100vh;
    flex: 1; 
    text-align: center;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subttit__carrito {
    color: #58695e;
}

.carrito__productos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; 
    text-align: center;
    padding: 50px;
    color: rgba(0, 0, 0, 0.247);
}

.boton__carrito {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Quinta sección - Footer */

.contenedor__footer {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fab {
    display: flex;
    display: inline-flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
    border-style: outset;
    margin: 12px 0;
}

.facebook {
    background: radial-gradient(#4965a618,#c0375728), url(../recursos/facebook_icon-1.png);
    background-size: contain;
    transition: all 0.25s; 
}

.facebook:hover {
    transform: scale(1.5);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.instagram {
    background: radial-gradient(#4965a618,#c0375728), url(../recursos/Instagram_icon-1.png);
    background-size: contain;
    transition: all 0.25s; 
}

.instagram:hover {
    transform: scale(1.5);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.mail {
    background: radial-gradient(#4965a618,#c0375728), url(../recursos/email_icon-1.png);
    background-size: contain;
    transition: all 0.25s; 
}

.mail:hover {
    transform: scale(1.5);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.YoSeQueVolveras {
    background-color: #c1aa97;
    text-align: center;
    padding: 10px;   
}
.YoSeQueVolveras h4 {   
    text-transform: uppercase;
    font-size: 10px;
}
.YoSeQueVolveras h5 {
    font-size: 9px;
}

/* Responsive */

@media screen and (max-width: 900px) {

    h1 {
        font-size: 60px;
        font-family: 'Merriweather', serif
}
    
    h2 {
        display: flex;
        justify-content: center;
        font-size: 28px;
}

    h3 {
        font-size: 17px;
}

    li {
        font-size: 15px;
        padding: 10px;
}

    .titulos {
        font-size: 26px;
        padding-top: 85px;
        padding-bottom: 44px;
}

    .boton__inicio {
        width: 219px;
        border-radius: 17px;
        height: 26px;
}

    header{
        height: 60px;
}
    
    .fab {
        width: 52px;
        height: 52px;
}

    .YoSeQueVolveras h4 {   
        font-size: 8px;
}
    .YoSeQueVolveras h5 {
        font-size: 7px;
}

}

@media screen and (max-width: 768px) {

    h1 {
        font-size: 52px;
        font-family: 'Merriweather', serif
}
    
    h2 {
        display: flex;
        justify-content: center;
        font-size: 24px;
    }

    h3 {
        font-size: 15px;
}

    
    li {
        font-size: 13px;
}

    .titulos {
        font-size: 22px;
        padding-top: 75px;
        padding-bottom: 37px;
}

    .boton__inicio {
        width: 187px;
        border-radius: 15px;
        font-size: 12px;
}

    .form__boton {
        width: 75px;
        height: 22px;
        font-size: 10px;
}

    header{
        height: 52px;
}

    .header__logo {
        width: 9%;
}
    
    .form {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "titulo"
        "subtitulo"
        "nombre"
        "correo"
        "mensaje"
        "boton"
        ;
}

    .form__input {
        width: 100%;
        margin: 5px 0;
        border: none;
        border-style: outset;
        border-radius: 20px;
        outline: none;
        color: rgb(0, 0, 0);
        background-color: #73837865;
}

}

@media screen and (max-width: 600px) {

    h1 {
        font-size: 40px;
        font-family: 'Merriweather', serif
}
    
    h2 {
        display: flex;
        justify-content: center;
        font-size: 18px;
}

    h3 {
        font-size: 12px;
}

    .titulos {
        font-size: 17px;
        padding-top: 58px;
        padding-bottom: 29px;
}

    .boton__inicio {
        width: 146px;
        border-radius: 10px;
        font-size: 10px;
}

    .boton__carrito {
        height: 87px;
        font-size: 10px;
}


    header{
        height: 40px;
}

    .conteiner__quienes_somos { 
        grid-template-columns: 1fr;
}

    li {
        font-size: 11px;
        padding: 5px;
}

.form__contacto {
    height: 70vh;
}

    .fab {
        width: 35px;
        height: 35px;
}

    .YoSeQueVolveras h4 {   
        font-size: 7px;
}
    .YoSeQueVolveras h5 {
        font-size: 6px;
}

}

@media screen and (max-width: 480px) {

    h1 {
        font-size: 32px;
        font-family: 'Merriweather', serif
}
    
    h2 {
        display: flex;
        justify-content: center;
        font-size: 15px;
}

    .titulos {
        padding-top: 46px;
        padding-bottom: 24px;
}

    .boton__inicio {
        width: 117px;
        border-radius: 9px;
}

    .boton__carrito {
        height: 70px;
        font-size: 9px;
}

    .header__logo {
        width: 11%;
}
}

@media screen and (max-width: 320px) {

    h1 {
        font-size: 20px;
}
    
    h2 {
        font-size: 10px;
}

    .titulos {
        padding-top: 31px;
        padding-bottom: 15px;
}

    .boton__inicio {
        width: 78px;
        border-radius: 6px;
}

}