$color-principal: #c1aa97;
$color-botones : #738378;
$color-hover : #3f4942;
$color-titulos: #58695e;
$color-menutitulos: #fff;
$color-letraboton: #fff;
$fontfamily-body: 'Poppins', sans-serif;
$fontfamily-h1: 'Merriweather', serif;
